<!DOCTYPE html>
<html>
<head>
  <title>Electronics</title>
  <%= stylesheet_link_tag    "electronics/application", media: "all" %>
  <%= javascript_include_tag "electronics/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
